body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.title {
    background-color: brown;
}

.choices {
    display: none;
    appearance: none;
}

.choices.is-active {
    display: flex;
    flex-direction: column;
}