body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.title {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices {
    padding-top: 10em;
    display: none;
    appearance: none;
}

.choices.is-active {
    display: flex;
    flex-direction: column;
}

.restart {
    display: none;
}

.restart.is-active {
    display: block;
}